/* #kouzelny-jarda{
    color: #61ba9d;
    text-align: center;
    text-transform: uppercase;
}
#cernejalex{
    color: indigo;
    text-decoration: underline coral;
    text-align: center;
}
 */
#container{
    #cernejalex{
        color: blue;
    }

    font-family: Verdana;
    text-align: center;
}