:root {
    background: #ed9e27;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    #jarda{
        padding-top: 3%;

        font-size: 5rem;
    }}
#jarda2{
    text-align: left;
    padding-left: 10%;
}
#jarda3{
    padding-top: 1%;
}