:root {
    background: #ed9e27;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}
#jarda{
    padding-top: 3%;

    font-size: 5rem;
}
#jarda2{
    font-size: 2rem;
}
#prdidlo{
    padding-top: 3%;
}
#kadina{
    text-align: left;
    padding-left: 20%;
    font-size: 1.5rem;
    font-family: Calibri;
}
