#kouzelny-jarda{
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    text-align: center;
    text-transform: uppercase;
}
#cernejalex{
    color: indigo;
    padding-top: 1%;
    text-align: center;
}